body{
    background-size:cover;
    background-image:url('purpi.png');
    background-repeat:no-repeat;
    background-attachment: fixed;
}


ul{            /*barra superior*/
    list-style-type: none;
    margin: -1%;
    padding: 2px;
    overflow: hidden;
    background-color:rebeccapurple;
    font-size:25px;

}
li {
    float: left;
    font-family: arial;
    padding: 9px;
    font-size:18px;
    margin-left: -14px;
    height: 48px;
    text-align: left;
    transition: 1s;
}
li:hover,
li:focus{
    background-color: indigo;
}
li a {
    display: block;
    color:aliceblue ;
    text-align: left;
    padding: 14px 19px;
    text-decoration: none;
    margin-right:27.5px;
    margin-top: 5px;
}

ul ul {
    display:none;
    position: absolute;
    margin-bottom: 2px;
    border-radius: 2px;
    width: 146px;

}

ul li:hover ul {
    margin-top: -2px;
    margin-left: -9px;
    display:block;
    margin-bottom: 7px;

}

ul ul li a{  /*itens dentro do sub menu*/
    display: block;
    margin-left: -20px;
    padding: 50px;
    margin-top: -30px;
    
  
}
.active {
    background-color: #4CAF50;
}
p{
   font-family: arial black;
   color:aliceblue;
   font-size:48px;
   margin-left: 280px;
   padding:17px;

 }  

 h3{
     font-family:Verdana;
     margin-left: 80px;
     color: aliceblue;
     font-size: 22px;
     height: 40px;
     padding:8px;
     }  
 
div{
    background-color:slateblue;
    font-size: 20px;
    margin-left: 100px;
    color: aliceblue;
    border-radius: 55px; 
    margin-right:220px;
    height:150px;
    box-shadow: inset -7px 0 9px 5px rgb(59, 50, 119);
    width:150px;
    text-align:center;
}

.trigger section {
    opacity: 0; /* Inicialmente, o elemento .target é invisível */
    visibility: hidden;
    transition: opacity 1.3s ease,visibility 0.0s ease;

}


.trigger:hover section{
    background-color: rebeccapurple;   /*animaco texto*/
    margin-left: 130px;
    margin-right:220px;
    margin-top:-15px;
    border-radius: 45px;
    width: 800px;
    height:250px;
    text-align:center;
    box-shadow: inset -7px 0 9px 5px rgb(59, 50, 119);
    opacity:1;
    visibility: visible;
   

}
.p1{
   margin-right: 60px;
}
